/*GENERAL STYLES*/

body {
  font-family: 'Noto Sans', sans-serif;
}

.d-block {
  display: block;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.hidden {
  display: none;
}
